domain: "{{ SETTINGS_DOMAIN }}"
timezone: "{{ SETTINGS_TIMEZONE }}"
admin_user: "{{ SETTINGS_ADMIN_USER }}"

proxmox:
  endpoint: "{{ SETTINGS_PROXMOX_ENDPOINT }}"
  node: "{{ SETTINGS_PROXMOX_NODE }}"
  storage: "{{ SETTINGS_PROXMOX_STORAGE }}"
  ssh_user: "{{ SETTINGS_PROXMOX_SSH_USER }}"
