{
    on_demand_tls {
        ask http://localhost:5555/check
    }
}

# Endpoint de validation sécurisé par la variable $DOMAIN
:5555 {
    handle /check {
        @allowed {
            expression {query.domain}.endsWith('.{$DOMAIN}') || {query.domain} == '{$DOMAIN}'
        }
        respond @allowed 200
        respond 403
    }
}

# Trafic HTTPS dynamique
:443 {
    tls {
        on_demand
    }

    # Panel Admin Dokploy (ex: dokploy.ton-domaine.fr)
    @admin header_regexp host ^dokploy\.{$DOMAIN}$
    handle @admin {
        reverse_proxy 172.16.10.11:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
        }
    }

    # Applications Dokploy (ex: n'importe-quoi.ton-domaine.fr)
    handle {
        reverse_proxy 172.16.10.11:80 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
        }
    }
}
