endpoint            = "https://<proxmox-host>:8006/api2/json"
api_token           = "<user>@<realm>!<token-id>=<secret>"  # realm: pam, pve, etc.
ssh_public_key_path = "~/.ssh/id_rsa.pub"

runner_vm_ip        = "192.168.1.148"
network_gateway             = "192.168.60.254"
