# protéger les accès à prometheus et loki : on expose que les endpoints d'écriture, et jamais de lecture
:9090 {
	@remote_write {
		method POST
		path /api/v1/write
	}

	handle @remote_write {
		reverse_proxy prometheus:9090
	}

	handle {
		respond 403
	}
}

:3100 {
	@loki_push {
		method POST
		path /loki/api/v1/push
	}

	handle @loki_push {
		reverse_proxy loki:3100
	}

	handle {
		respond 403
	}
}