https://blavogiez.fr {
    reverse_proxy https://blavogiez.github.io
}

https://vaultwarden.priv.{{ domain }} {
    # Whitelist : VPN + Réseau Admin local
    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24
    
    handle @vpn_only {
        reverse_proxy http://192.168.10.17:8000
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}

https://nextcloud.priv.{{ domain }} {
    # Whitelist : VPN + Réseau Admin local
    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24
    
    handle @vpn_only {
        reverse_proxy 172.16.10.13:8080
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}

https://authentik.priv.{{ domain }} {
    # Whitelist : VPN + Réseau Admin local
    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24
    
    handle @vpn_only {
        reverse_proxy 192.168.10.16:9000
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}

https://ck-x.priv.{{ domain }} {
    # Whitelist : VPN + Réseau Admin local
    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24
    
    handle @vpn_only {
        reverse_proxy 172.16.10.91:30080
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}

