# raccourci de liens vers le contenu brut du dépôt proxmox-gitops

git-utils.{{ domain }}:80 {
	rewrite * /jobacogiez-org/proxmox-gitops/main{uri}

	reverse_proxy https://raw.githubusercontent.com {
		header_up Host raw.githubusercontent.com
	}
}

http://git-utils.priv.{{ domain }} {
	rewrite * /jobacogiez-org/proxmox-gitops/main{uri}

	reverse_proxy https://raw.githubusercontent.com {
		header_up Host raw.githubusercontent.com
	}
}