# raccourci de liens vers le contenu brut du dépôt proxmox-gitops

http://get.{{ domain }} {
	rewrite * /jobacogiez-org/proxmox-gitops/main{uri}

	reverse_proxy https://raw.githubusercontent.com {
		header_up Host raw.githubusercontent.com
	}
}

http://get.priv.{{ domain }} {
	rewrite * /jobacogiez-org/proxmox-gitops/main{uri}

	reverse_proxy https://raw.githubusercontent.com {
		header_up Host raw.githubusercontent.com
	}
}