http://*.{{ domain }} {
    # Catch-all pour toutes les applications déployées sur Komodo
    # Ce bloc reste public pour permettre l'accès aux sites web
    reverse_proxy 172.16.10.11:80 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto https
    }
}
