https://komodo.priv.{{ domain }} {
    # Whitelist : VPN + Réseau Admin local
    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24
    
    handle @vpn_only {
        reverse_proxy 172.16.10.11:80 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}

https://komodo.{{ domain }} {
    reverse_proxy 172.16.10.11:9120 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto https
    }
}

https://*.{{ domain }} {
    # Catch-all pour toutes les applications déployées sur Komodo
    # Ce bloc reste public pour permettre l'accès aux sites web
    reverse_proxy 172.16.10.11:80 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto https
    }
}


