https://openlatex.{{ domain }} {
    reverse_proxy 172.16.10.51:80
}

# (le meme que openlatex.domain c'est juste plus équivoque)
https://openlatex-prod.{{ domain }} {
    reverse_proxy 172.16.10.51:80
}

https://openlatex-api.{{ domain }} {
    reverse_proxy 172.16.10.51:80
}
https://openlatex-dev.{{ domain }} {
    reverse_proxy 172.16.10.51:80 
}

# redirige vers le namespace kubernetes openlatex-dev (branches de features) pour test. L'ingress kube absorbera ce domaine spécifique et redirigera vers le service namespace dev
https://openlatex-dev.priv.{{ domain }} {

    @vpn_only remote_ip 10.8.0.0/24    
    handle @vpn_only {
        reverse_proxy 172.16.10.51:80
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}
