*.priv.{{ domain }}:80 {
    # Whitelist : VPN + Réseau Admin local
    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24
    
    handle @vpn_only {
        respond "requete locale qui est acceptée, trop bien"
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}
