http://status.{{ domain }} {
    reverse_proxy 192.168.10.14:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto https
    }
}

http://gatus.{{ domain }} {
    reverse_proxy 192.168.10.14:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto https
    }
}
