https://terraform-backend.priv.{{ domain }} {

    @vpn_only remote_ip 10.8.0.0/24    
    handle @vpn_only {
        # lynx
        reverse_proxy 192.168.10.18:4000
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}
