# on va rediriger en https vu que c'est sensible et pour ça on importe le cert interne du Caddy Vault (Car en fait avant que Vault soit créé on est pas en mesure de lui passer des secrets vault, pb d'initialisation)
# POur ça on a le playbook sync_vault_caddy_ca.yml , le consulter
https://vault.priv.{{ domain }} {

    @vpn_only remote_ip 10.8.0.0/24    
    handle @vpn_only {
        reverse_proxy https://192.168.10.15:443 {
            transport http {
                tls_trust_pool file /etc/caddy/certs/vault-caddy-root.crt
            }
        }
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}
