# vault se fait en Caddy interne sur 192.168.10.15 pour avoir du https interne en attendant
https://vault.priv.{{ domain }} {

    @vpn_only remote_ip 10.8.0.0/24    
    handle @vpn_only {
        reverse_proxy 192.168.10.15:80
    }

    # Bloqué pour tout le reste
    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée" 403
    }
}
