https://cr.priv.{{ domain }} {
    # container registry du coup pull autorisé sur le PVE global. Le login selon utilisateurs (publisher / consuemer) fait l'accès
    @internal remote_ip 192.168.10.0/24 172.16.10.0/24 10.8.0.0/24

    handle @internal {
        reverse_proxy 192.168.10.19:5000
    }

    handle {
        respond "Accès privé uniquement. Votre IP {remote_host} a été refusée." 403
    }
}
