# https://github.com/project-zot/zot
services:
  zot:
    image: ghcr.io/project-zot/zot:v2.1.18
    restart: unless-stopped
    ports:
      - "192.168.10.19:5000:5000"
    volumes:
      - ./config.json:/etc/zot/config.json:ro
      - /srv/zot:/var/lib/registry
    configs:
      - source: htpasswd
        target: /etc/zot/htpasswd

configs:
  htpasswd:
    # zot veut un bcrypt spécifique au format http. Jinja le permet
    # PS le salt doit faire 22 caractères (faire openssl -rand hex 11) sinon bcrypt aimera pas
    # publisher = runner et consumer = VM en gros. Les droits sont définis dans le json
    content: |
      admin:{{ vault.zot.admin_password | password_hash(hashtype='bcrypt', salt=vault.zot.salt, rounds=12) | replace('$', '$$') }}
      publisher:{{ vault.zot.publisher_password | password_hash(hashtype='bcrypt', salt=vault.zot.salt, rounds=12) | replace('$', '$$') }}
      consumer:{{ vault.zot.consumer_password | password_hash(hashtype='bcrypt', salt=vault.zot.salt, rounds=12) | replace('$', '$$') }}
