{
    default_sni 192.168.10.15
}

# le caddy du compose termine directement le HTTPS sans exposer le port 8200
https://192.168.10.15 {
    # tls internal en attendant, ensuite on fera des certificats publics
    tls internal

    # éventuellement durcir les règles vpn avec le temps, à des ip spécifiques plutôt qu'à des sous-réseaux larges
    # peut donc se paramétrer pour des ip spécifiques

    # au moment du setup, il n'y a pas encore le VPN donc on doit temporairement autoriser l'ip de la machine qui vient rentrer les secrets. Ensuite il faut l'enlever
    # c'est un problème d'ordre d'initialisation
    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24 192.168.1.139

    handle @vpn_only {
        reverse_proxy openbao:8200
    }

    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée. Pour l'autoriser, regardez services/vault/caddy/Caddyfile (A la configuration initiale)" 403
    }
}
