{
    default_sni 192.168.10.15
}

# le caddy du compose termine directement le HTTPS sans exposer le port 8200
https://192.168.10.15 {
    # tls internal en attendant, ensuite on fera des certificats publics
    tls internal

    @vpn_only remote_ip 10.8.0.0/24 192.168.10.0/24 192.168.1.139

    handle @vpn_only {
        reverse_proxy openbao:8200
    }

    handle {
        respond "Accès privé uniquement en local. Votre ip {remote_host} a été refusée (si on est au setup, on peut autoriser l'ip de la machine demandeuse temporairement, voir le caddyfile et redéployer.)" 403
    }
}
