(site_rate_limit) {
    rate_limit {
        zone {args[0]} {
            key {client_ip}
            events {args[1]}
            window 1m
            ipv6_prefix 64
        }
    }
}

{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

import /etc/caddy/sites/*.conf
