http://{{ domain }} {
{% set website_rate_limit = website.rate_limit | default(rate_limit | default(0)) %}
{% if website_rate_limit %}
    route {
        rate_limit {
            zone {{ caller_repository }}_{{ domain }} {
                key {client_ip}
                events {{ website_rate_limit }}
                window 1m
                ipv6_prefix 64
            }
        }

        root * {{ websites_remote_dir }}/{{ website.domains[0] }}
        try_files {path} /index.html
        file_server
    }
{% else %}
    root * {{ websites_remote_dir }}/{{ website.domains[0] }}
    try_files {path} /index.html
    file_server
{% endif %}
}
