proxmox_endpoint  = "{{ TF_PROXMOX_HOST }}/api2/json"
# vaut mieux faire un utilisateur séparé avec des permissions spéciales (voir API Token dans Proxmox datacenter)
proxmox_api_token = "{{ TF_PROXMOX_USER }}@{{ TF_PROXMOX_REALM }}!{{ TF_PROXMOX_TOKEN_ID }}={{ TF_PROXMOX_TOKEN_SECRET }}"


# pour le TLS
proxmox_insecure = true

proxmox_ssh_username         = "root"
proxmox_ssh_private_key_path = "{{ TF_PROXMOX_SSH_PRIVATE_KEY_PATH }}"
ssh_public_key_path          = "{{ TF_PROXMOX_SSH_PUBLIC_KEY_PATH }}"

storage        = "{{ TF_STORAGE }}"
backup_storage = "{{ TF_BACKUP_STORAGE }}"
node_name      = "{{ TF_NODE_NAME }}"
